# Python
__pycache__/
*.pyc
settings.json

# Virtual environments
venv/
env/

# PyInstaller build output
build/
dist/
*.spec

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# Config backups (if any)
*.bak